.external {
    color: green;
}


.box {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border: 3px solid black;
    background-image: linear-gradient(lightblue, white);
}


#idSelector { color: red; }
.classSelector { font-size: 20px; }
div p { color: purple; }
h1, h2, h3 { text-align: center; }
* { font-family: Arial; }


@media (max-width: 600px) {
    body {
        background-color: lightgray;
    }
}
